@import "colors.scss";

/* Navigation Styles */

nav {
  font: {
    size: 1em;
    weight: bold;
  }
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  .nav-left, .nav-right {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        margin: 0 5px 0 0;
        color: $color4;

        a {
          text-decoration: none;
          color: $color4;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
