@import "colors.scss";
@import "variables.scss";

// Registration form styles
.registration-section {
  flex: 1;
  background: $mainColor; // White background
  padding: 3em 4em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    color: $color3;
    margin-bottom: 2em;
    font-size: 1.5em;
    text-align: left;
    font-weight: normal;
  }

  .form-group {
    margin-bottom: 1.2em;

    label {
      display: block;
      margin-bottom: 0.3em;
      color: $color3;
      font-weight: normal;
      font-size: 0.9em;
    }

    input[type="text"],
    input[type="email"] {
      width: 100%;
      padding: 0.6em;
      border: 1px solid #ddd;
      border-radius: 0;
      font-size: 0.9em;
      box-sizing: border-box;
      background: white;

      &:focus {
        outline: none;
        border-color: $backgroundColor1;
      }
    }
  }

  .register-button {
    background: $backgroundColor1;
    color: $color4;
    padding: 0.7em 2em;
    border: none;
    border-radius: 0;
    font-size: 0.9em;
    cursor: pointer;
    width: 100%;
    margin-top: 1.5em;
    font-weight: normal;

    &:hover {
      background: darken($backgroundColor1, 10%);
    }
  }

  .error-messages {
    margin-bottom: 1em;

    .error {
      color: red;
      font-size: 0.9em;
      margin-bottom: 0.5em;
    }
  }

  .success-message {
    text-align: center;
    color: $color3;
    font-size: 1.2em;
    margin-top: 2em;
  }
}