@import "variables.scss";
@import "colors.scss";
@import "nav.scss";
@import "registration.scss";
@import "listingtable.scss";
@import "form.scss";

html {
  font-size: 1em;
  width: 100%;
}

body {
  font-family: $font-family-primary;
  background: $backgroundColor1;
  margin: 0;
  padding: 0;
}

header {
  height: $header-height;
  width: $max-width;
  margin: 0.8em auto 1em auto;
}

main {
  background: $mainColor;
  width: $max-width;
  min-height: $main-min-height;
  padding: 1.5%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;

  #intro-text {
    width: 550px;
    background: $sectionColor;
    text-align: center;
    padding: 8em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    h3 {
      font-size: $font-size-h3;
      color: $color3;
      margin: 1em 0;
    }

    span {
      font-family: $font-family-script;
      font-size: 2em;
      color: $color3;
    }

    p {
      color: $color3;
      margin: 1em 0;
    }
  }

  #intro-image {
    flex: 1;
    display: flex;
    align-items: stretch;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

footer {
  width: $max-width;
  margin: 2em auto;
  padding-left: 80px;
  font-size: $font-size-small;
  color: $color4;
}

// Button styles
button, .submit-buttton {
  color: $color4;
  width: 150px;
  height: 40px;
  background: $backgroundColor1;
  margin: 2em auto 0 auto;
  border: 1px solid $color3;
  cursor: pointer;
  font-size: 1em;
  display: block;

  &:hover {
    background: $color3;
  }
}