// Main color variables
$primary-gold: #DAA90E;
$white: #ffffff;
$light-gray: #D4D5D8;
$dark-gray: #313130;
$error-red: #dc3545;

// Typography
$font-family-primary: Arial, Helvetica, sans-serif;
$font-family-script: 'Sacramento', cursive;

// Font sizes
$font-size-h1: 3em;
$font-size-h2: 2.5em;
$font-size-h3: 2em;
$font-size-small: 0.85em;

// Layout
$max-width: 1350px;
$header-height: 50px;
$main-min-height: 535px;