extends layout

block content
  .registrants-container
    if registrations.length
      table.registrants-table
        thead
          tr
            th Name
            th Email
        tbody
          each registration in registrations
            tr
              td= registration.name
              td= registration.email
    else
      p No registrations yet :(