extends layout

block content
  main
    section#intro-text
      span Simple Kitchen
      h3 Simple & Comforting 
        br
        | Recipes All Year Round

    section.registration-section
      .success-message
        h2 Thank you for your registration!
        p You'll receive our latest recipes and cooking tips straight to your inbox.
        a(href='/' class='btn btn-primary') Back to Home